/* Dichiarazioni generali */
body {
  background-color: #333;
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
  color: #CCC;
  text-shadow: 0 1px 0 #000;
}

#container {
  margin: 150px auto;
  width: fit-content;
}

a {
  color: #CCC;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #FFF;
}

#indietro {
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  background-color: #444444;
  border: 0;
  border-radius: 10px;
  font-size: 1.5rem;
  color: #FFF;
  transition: background-color 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #6e6e6e;
}

.hidden {
  display: none;
}

/* Email */
#email-form {
  margin: 15px 0;
  text-align: center;
}

#email-form input, button {
  padding: 10px 20px;
  background-color: #444444;
  border: 0;
  border-radius: 10px;
  font-size: 1.5rem;
  color: #FFF;
  transition: background-color 0.3s;
}

#email-form input[type="submit"] {
  cursor: pointer;
}

#email-form input[type="submit"]:hover {
  background-color: #6e6e6e;
}

.valida {
  color: #00ff00;
}

.non-valida {
  color: #ff0000;
}

/* Dadi */
#dado-user, #dado-pc {
  color: #F00;
  font-weight: bold;
}

#risultato {
  margin: 25px 0;
  font-style: italic;
}

.vinto {
  color: #00ff00;
  text-shadow: 0 0 25px #00ff00;
}

.perso {
  color: #ff0000;
  text-shadow: 0 0 25px #ff0000;
}

.pareggio {
  color: #fff;
  text-shadow: 0 0 25px #fff;
}